!!!
%html
  %head
    %title FnordMetric
    %script{src: u('assets/fnord_metric/contrib.js')}
    %script{src: u('assets/fnord_metric.js')}
    %link{rel: 'stylesheet', href: u('asstes/fnord_metric.css')}

  %body
    #app.clearfix(style="overflow:hidden;")

    #preload
      %img(src="/img/loader_white.gif")

:javascript
  $(document).ready(function(){
    FnordMetric.init(#{current_namespace.to_json});
  });
